node_modules/
frontend/huskyconnect/dist/

.env
.env.local
.env.*.local

venv/
.venv/
supabase-fastapi/venv/
supabase-fastapi/.venv/

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

.DS_Store
.vscode/
.idea/

coverage/
*.log

supabase-fastapi/tempCodeRunnerFile.py
